USE [data_health_web]
GO
/****** Object:  Table [dbo].[first_aid_cases]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[first_aid_cases](
	[FirstAidID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[ImageFirstAid] [nvarchar](255) NULL,
	[VideoURL] [nvarchar](255) NULL,
	[CreateAt] [datetime2](7) NULL,
	[FirstAidDescription] [nvarchar](max) NULL,
	[CommonMistake] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FirstAidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_first_aid_cases_Title] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[first_aid_quizz]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[first_aid_quizz](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[ImageQuestion] [nvarchar](255) NULL,
	[OptionA] [nvarchar](255) NULL,
	[OptionB] [nvarchar](255) NULL,
	[OptionC] [nvarchar](255) NULL,
	[OptionD] [nvarchar](255) NULL,
	[TestID] [int] NULL,
	[CorrectAnswer] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[first_aid_test]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[first_aid_test](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[FirstAidID] [int] NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FirstAidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[functional_food]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[functional_food](
	[FunctionalFoodsID] [int] IDENTITY(1,1) NOT NULL,
	[NameFood] [nvarchar](255) NULL,
	[ImageFood] [nvarchar](255) NULL,
	[Benefit] [nvarchar](max) NULL,
	[Instructions] [nvarchar](max) NULL,
	[Alert] [nvarchar](max) NULL,
	[TypeID] [int] NULL,
	[PriceFoods] [numeric](18, 0) NOT NULL,
	[Rating] [float] NULL,
	[Sold] [float] NULL,
	[Discount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FunctionalFoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[functional_food_type]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[functional_food_type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[NameType] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lookup_history]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lookup_history](
	[LookupID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectedSymptoms] [nvarchar](max) NULL,
	[Results] [nvarchar](max) NULL,
	[HighlightedSymptoms] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LookupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [nvarchar](255) NULL,
	[ImageNews] [nvarchar](255) NULL,
	[NewsDescription] [nvarchar](max) NULL,
	[SourceNews] [nvarchar](255) NULL,
	[PublishAt] [date] NULL,
	[CreateAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_test_answer]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_test_answer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[ResultID] [int] NULL,
	[QuizID] [int] NULL,
	[SelectedOption] [char](1) NULL,
	[isCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_test_result]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_test_result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TestID] [int] NULL,
	[Score] [int] NOT NULL,
	[SubmitAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/21/2025 12:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[ImageUser] [nvarchar](max) NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[PassWordUser] [nvarchar](255) NULL,
	[RoleUser] [nvarchar](10) NULL,
	[CreateAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[first_aid_cases] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[lookup_history] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[news] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[user_test_result] ADD  DEFAULT (sysdatetime()) FOR [SubmitAt]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_RoleUser]  DEFAULT ('user') FOR [RoleUser]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[first_aid_quizz]  WITH CHECK ADD FOREIGN KEY([TestID])
REFERENCES [dbo].[first_aid_test] ([TestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[first_aid_test]  WITH CHECK ADD FOREIGN KEY([FirstAidID])
REFERENCES [dbo].[first_aid_cases] ([FirstAidID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[functional_food]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[functional_food_type] ([TypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lookup_history]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[users] ([UserID])
GO
ALTER TABLE [dbo].[user_test_answer]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[first_aid_quizz] ([QuizID])
GO
ALTER TABLE [dbo].[user_test_answer]  WITH CHECK ADD FOREIGN KEY([ResultID])
REFERENCES [dbo].[user_test_result] ([ResultID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_test_result]  WITH CHECK ADD FOREIGN KEY([TestID])
REFERENCES [dbo].[first_aid_test] ([TestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_test_result]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [check_email] CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [check_email]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [check_phone] CHECK  (([PhoneNumber] like '0%' AND len([PhoneNumber])=(10) AND NOT [PhoneNumber] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [check_phone]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [check_role] CHECK  (([RoleUser]='expert' OR [RoleUser]='user' OR [RoleUser]='admin'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [check_role]
GO
